# 编译输出目录
bin/
obj/

# 日志文件
*.log

# IDE 配置文件
.vs/
.vscode/
.idea/

# Node.js 包
node_modules/

# ABP 框架分析文件
*.abppkg.analyze.json

# Ignore NuGet and Rider related files
**/project.assets.json
**/project.nuget.cache
**/project.packagespec.json
**/rider.project.model.nuget.info
**/rider.project.restore.info

# Ignore Rider/Resharper settings
*.DotSettings.user

# Ignore configuration files for development
src/YayZent.Abp.Web/appsettings.Development.json

# Ignore appsettings.json if it contains local environment configurations
src/YayZent.Abp.Web/appsettings.json

*.assets.cache
yayzent.admin.tar
